# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Environment Variables
.env
*.env

# Python & ML
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.keras
*.h5
*.ckpt
*.onnx
.pytest_cache/
.ipynb_checkpoints/

# Datasets Policy
datasets/raw/*
!datasets/raw/.gitkeep
datasets/processed/*
!datasets/processed/.gitkeep
training/saved_models/*
!training/saved_models/.gitkeep

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/build/

# Golang
apps/backend/bin/
apps/backend/tmp/

# Docker & MySQL
mysql_data/
